
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="user-info">

        <p>Personal Information</p>

        <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput type="text" placeholder="James" formControlName="firstName">
            <!--<mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>-->
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" placeholder="Hamilton" formControlName="lastName">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Age</mat-label>
            <input matInput type="number" placeholder="Ex. 12" formControlName="age" min="1">
            <span matSuffix>year(s)</span>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="me@me.com" formControlName="email">
        </mat-form-field>

        <label>Gender: </label>
        <mat-radio-group formControlName="gender">
            <mat-radio-button value=0>Male</mat-radio-button>
            <mat-radio-button value=1>Female</mat-radio-button>
        </mat-radio-group>

    </div>
    
    <div class="user-work">

        <p>Work</p>
        
        <mat-form-field appearance="fill">
            <mat-label>Company</mat-label>
            <input matInput type="text" placeholder="me@me.com" formControlName="company">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Department</mat-label>
            <input matInput type="text" placeholder="me@me.com" formControlName="department">
        </mat-form-field>
    </div>

    


    <button mat-raised-button type="submit">Submit</button>
</form>
