<div class="contentContainer">
  <div class="cards-header">
    <h2>Cars List</h2>
  </div>
  <div class="cards-content">
    <app-car-list 
      [cardType]="'medium'" 
      [cars]="cars" 
      (favouriteChange)="updateFavouriteList($event)"
      [favouriteList]="favouriteCars">
    </app-car-list>
    <app-favourite-bar *ngIf="favouriteCars.length > 0">
        <app-car-list 
          [cardType]="'small'" 
          ngProjectAs='item-list' 
          [cars]="favouriteCars"
          ></app-car-list>
    </app-favourite-bar>
    </div>
</div>