<div class="contentContainer">
    <div class="cards-header">
        <h2>Users List</h2>
        <app-search-bar [search]="searchGroup"></app-search-bar>
    
    </div>
    <mat-paginator 
        [length]="paginatorData.length"
        [pageSize]="paginatorData.pageSize"
        [pageIndex]="paginatorData.pageIndex"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="updatePagination($event)"
        aria-label="Select page">
    </mat-paginator>
    <div class="cards-content">
        <mat-spinner *ngIf="users == null;else usersList"></mat-spinner>
        
        <ng-template #usersList >
            
            <app-user-list
            [cardType]="cardTypesEnum.medium" 
            [users]="users" 
            (favouriteChange)="updateFavouriteList($event)" 
            [favouriteList]="favouriteUsers">
            </app-user-list>
            <app-favourite-bar *ngIf="favouriteUsers.length > 0">
                <app-user-list 
                [cardType]="cardTypesEnum.small" 
                ngProjectAs='item-list' 
                [users]="favouriteUsers">
            </app-user-list>
            </app-favourite-bar>
        </ng-template>
    </div>
</div>
