<div class="contentContainer">
    <div class="cards-header">
        <h2>Users List</h2>
    </div>
    <div class="cards-content">
        <app-user-list 
        [cardType]="'medium'" 
        [users]="users" 
        (favouriteChange)="updateFavouriteList($event)" 
        [favouriteList]="favouriteUsers">
    </app-user-list>
        <app-favourite-bar *ngIf="favouriteUsers.length > 0">
            <app-user-list 
            [cardType]="'small'" 
            ngProjectAs='item-list' 
            [users]="favouriteUsers">
        </app-user-list>
        </app-favourite-bar>
    </div>
</div>
