.user-work{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-work-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;

    & > p {
        margin: 0;
    }
}