.cards-header {
    display: flex;
    justify-content: space-between;
    margin-block-end: 1rem;
    padding-block-end: 0.6rem;
    border-block-end: 1px solid rgba(128, 128, 128, 0.555);
    align-items: center;
}

.cards-holder {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

.hideInactive .inactive{
    display: none;
}