<app-item-card 
[usageType]="cardType"
[imageUrl]="!car.imageUrl ? 'https://material.angular.io/assets/img/examples/shiba2.jpg' : car.imageUrl"
(favouriteChange)="processFavourite(car.id)"
[favourite]="favourite"
>

    <ng-container *ngIf="cardType !== cardTypesEnum.small;else smallTitle " title>
        <p>
            {{ car.name }}
            <span class="mat-card-title-year">(Year: {{ car.releaseYear }})</span>
        </p>
    </ng-container>

    <ng-template #smallTitle title>
        <p>
            {{ car.name }}
            <span class="mat-card-title-year">(Year: {{ car.releaseYear }})</span>
        </p>
    </ng-template>
    
    <ng-container content *ngIf="cardType !== cardTypesEnum.small">
        <div>
            <p>Color: 
                <span>{{ car.color }}</span>
            </p>
            <p>Number: 
                <span>{{ car.number }}</span>
            </p>
        </div> 
    </ng-container>
    
</app-item-card>