<app-item-card 
[usageType]="cardType" 
[imageUrl]="!user.imageUrl ? DEFAULT_AVATAR : user.imageUrl"
(favouriteChange)="processFavourite(user.id)"
[favourite]="favourite"
>
    <ng-container *ngIf="cardType !== cardTypesEnum.small;else smallTitle" title>
        <p>
            {{ user.firstName }} {{ user.lastName }}
            <span class="mat-card-title-year">(Age: {{ user.age }})</span>
        </p>
    </ng-container>

    <ng-template #smallTitle title>
        <p>
            {{ user.firstName }}
            <span class="mat-card-title-year">(Age: {{ user.age }})</span>
        </p>
    </ng-template>
    
    <ng-container content *ngIf="cardType !== cardTypesEnum.small">
        <div>
            <p>Gender: 
                <span>{{ user.gender ? 'Male' : 'Female' }}</span>
            </p>
            <p>Department: 
                <span>{{ user.department }}</span>
            </p>
            <p>Company: 
                <span>{{ user.company }}</span>
            </p>
        </div> 
    </ng-container>
    
</app-item-card>