<app-item-card 
[usageType]="cardType" 
[id]="user.id" 
[imageUrl]="!user.imageUrl ? 'https://i.stack.imgur.com/CMJaF.jpg?s=256&g=1' : user.imageUrl"
(favouriteChange)="processFavourite($event)"
[favourite]="favourite"
>
    <ng-container *ngIf="cardType !== 'small' " ngProjectAs="title">
        <p>
            {{ user.firstName }}
            <span class="mat-card-title-year">(Age: {{ user.age }})</span>
        </p>
    </ng-container>

    <ng-container *ngIf="cardType === 'small' " ngProjectAs="[title]">
        <p>
            {{ user.firstName }}
            <span class="mat-card-title-year">(Age: {{ user.age }})</span>
        </p>
    </ng-container>
    
    <ng-container ngProjectAs="user">
        <div>
            <p>Gender: 
                <span>{{ user.gender }}</span>
            </p>
            <p>Department: 
                <span>{{ user.department }}</span>
            </p>
            <p>Company: 
                <span>{{ user.company }}</span>
            </p>
        </div> 
    </ng-container>
    
</app-item-card>